name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    # 1-MUHIM O'ZGARISH: ubuntu-latest o'rniga ubuntu-22.04 ishlatamiz.
    # Ubuntu 24.04 da Python kompilyatsiyasi xato bermoqda.
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      # Keshni tozalash (oldini olamiz)
      - name: Clean build cache
        run: |
          rm -rf .buildozer
          rm -rf bin

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            git \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libsqlite3-dev \
            sqlite3 \
            libbz2-dev \
            libssl-dev \
            openssl \
            libgdbm-dev \
            libgdbm-compat-dev \
            liblzma-dev \
            libreadline-dev \
            libncursesw5-dev \
            libffi-dev \
            uuid-dev \
            autoconf \
            libtool \
            automake \
            pkg-config \
            cmake \
            unzip \
            zip \
            libltdl-dev

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build APK with Buildozer
        run: |
          # GitHubdagi tayyor NDKlar xalaqit bermasligi uchun ularni tozalaymiz
          export ANDROID_HOME=""
          export ANDROID_NDK_HOME=""
          
          # Buildni boshlaymiz (yes - litsenziyani qabul qilish uchun)
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: salomatli-hayot-apk
          path: bin/*.apk
